In [6]:
import pandas as pd
import numpy as np
import re

In [46]:
pop = pd.read_csv('https://nycdsacapstone2021.blob.core.windows.net/additionaldata/census2019_pop_est.csv', 
                  dtype={'ZIP':'string'}, index_col='ZIP')

In [47]:
pop

       total_pop  over_65  over_65_ratio
ZIP
00601      17113     3111       0.181792
00602      37751     6853       0.181532
00603      47081     9948       0.211295
00606       6392     1274       0.199312
00610      26686     5334       0.199880
...          ...      ...            ...
99923         14       14       1.000000
99925        908      137       0.150881
99926       1654      213       0.128779
99927          0        0            NaN
99929       2502      569       0.227418

[33120 rows x 3 columns]