In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from helper_funcs import *

In [2]:
zipdata = get_zipdata()
zipdata.shape

----pulling ZipCode data from Azure storage----
----Done----

(6987, 51)

In [3]:
zipdata.drop(zipdata[zipdata.Population==0].index)

,State,County,CBSA_Name,CountyFIPS,StateFIPS,Population,HouseholdsPerZipCode,WhitePopulation,BlackPopulation,HispanicPopulation,...,one_unit_value_reps,two_unit_buildings_rep,two_unit_units_rep,two_unit_value_rep,three_unit_building_rep,three_unit_untis_rep,three_unit_value_rep,five_unit_building_rep,five_unit_unit_rep,five_unit_value_rep
ZipCode,,,,,,,,,,,,,,,,,,,,,
20001,DC,DISTRICT OF COLUMBIA,Washington Arlington Alexandria,1,11,38551,16500,13671,20682,3555,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20002,DC,DISTRICT OF COLUMBIA,Washington Arlington Alexandria,1,11,52370,22973,17522,33303,2299,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20003,DC,DISTRICT OF COLUMBIA,Washington Arlington Alexandria,1,11,26454,11724,15295,10111,1355,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20004,DC,DISTRICT OF COLUMBIA,Washington Arlington Alexandria,1,11,1622,1127,1321,131,109,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20005,DC,DISTRICT OF COLUMBIA,Washington Arlington Alexandria,1,11,12775,8316,8478,2157,2142,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39870,GA,BAKER,NaN,7,13,2238,886,1064,1130,96,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
39877,GA,TERRELL,Albany,273,13,500,197,316,178,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39885,GA,TERRELL,Albany,273,13,76,37,64,11,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39886,GA,RANDOLPH,NaN,243,13,1616,675,741,876,11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39897,GA,GRADY,NaN,131,13,3430,1332,2540,805,63,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
zipdata.loc[zipdata.over_65_ratio.isna(),'over_65_ratio'] = 0
zipdata.loc[zipdata.Hosp_count.isna(),'Hosp_count'] = 0

In [5]:
zipdata.isna().sum()

State                         0
County                        0
CBSA_Name                  1154
CountyFIPS                    0
StateFIPS                     0
Population                    0
HouseholdsPerZipCode          0
WhitePopulation               0
BlackPopulation               0
HispanicPopulation            0
AsianPopulation               0
IndianPopulation              0
OtherPopulation               0
MalePopulation                0
FemalePopulation              0
AverageHouseValue             0
IncomePerHousehold            0
MedianAge                     0
NumberOfBusinesses            0
over_65_ratio                 0
school_rating              3717
Hosp_count                    0
HPI                        2750
Demand_score               3515
Supply_score               3515
listviews_vs_US            3515
med_days_on_mkt            3515
nielson_rank               3515
UE_rate                    3098
Zillow_HVF                 3256
BEA_percap_income           654
Survey_Date                4087
FIPS_State                 4087
FIPS_County                4087
Region_Code                4087
Division_Code              4087
State_y                    4087
state_abbrev               4087
County_Name                4087
one_unit_buildings_rep     4087
one_unit_units_rep         4087
one_unit_value_reps        4087
two_unit_buildings_rep     4087
two_unit_units_rep         4087
two_unit_value_rep         4087
three_unit_building_rep    4087
three_unit_untis_rep       4087
three_unit_value_rep       4087
five_unit_building_rep     4087
five_unit_unit_rep         4087
five_unit_value_rep        4087
dtype: int64